@import "~bulma/sass/utilities/initial-variables";

/* grey: #7a7a7a  grey-dark: #4a4a4a grey-darker: #363636 black-ter: #242424 black-bis: #121212 black:#0a0a0a*/

/* grey-light: #b5b5b5  grey-lighter: #dbdbdb   white-ter: #f5f5f5  white-bis: #fafafa  white:#fff */

// fb #4267b2
// gmail #d93025
// github #24292E
// linkedin #0073b0
// titter #1da1f2

$family-sans-serif: "Lato",
BlinkMacSystemFont,
-apple-system,
"Segoe UI",
"Roboto",
"Oxygen",
"Ubuntu",
"Cantarell",
"Fira Sans",
"Droid Sans",
"Helvetica Neue",
"Helvetica",
"Arial",
sans-serif;

$vivid-cerulean: #00A8E8;
$vivid-cerulean-inverted: #fff;
$rich-black:#00171F;
$black: $rich-black;
$cerulean: #007EA7;
$cerulean-inverted: #fff;
$prussian-blue: #003459;
$prussian-blue-light: #00486d;

$primary: $vivid-cerulean;
$primary-invert: $vivid-cerulean-inverted;
$link: $cerulean;
$link-inverted: $cerulean-inverted;
$grey-darker: $prussian-blue;
// $grey-dark:$prussian-blue-light;

$menu-item-color: $grey-lighter;
$menu-item-active-background-color: $primary;
$menu-item-hover-color: $grey-lighter;
$menu-item-hover-background-color: $grey-darker;

$footer-background-color:$black;
$footer-padding: 1rem 1rem 1.5rem;

// $box-link-hover-shadow: 0px 4px 8px rgba(46, 41, 51, 0.08),
// 0px 8px 16px rgba(71, 63, 79, 0.16);

@import "~bulma";

// a {
//   transition: all .2s ease-in-out
// }

// a:hover {
//   transform: scale(1.1)
// }

// a:focus {
//   transform: scale(1.1)
// }


// animations
@keyframes spin {
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes pulse {
  0% {

    box-shadow: 0 0 0 0 rgba($primary, 0.6)
  }

  70% {
    box-shadow: 0 0 0 12px rgba($primary, 0)
  }

  100% {
    box-shadow: 0 0 0 0 rgba($primary, 0)
  }
}

.pulse {
  animation: pulse 2s ease-in-out infinite;
}

.spin {
  animation: spin 2s linear infinite;
}

.translate-up {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), padding 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.translate-up:hover {
  box-shadow: 0px 4px 8px rgba(46, 41, 51, 0.08),
    0px 8px 16px rgba(71, 63, 79, 0.16);
  transform: translateY(-0.25rem);
}

// helper classes
.margin-auto {
  margin-left: auto;
  margin-right: auto;
}

.flex-vertical {
  flex-direction: column;
}

.flex-justify-center {
  justify-content: center;
}

.flex-align-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap
}

.line {
  height: 1px;
  width: 100%;
}

.is-underlined {
  text-decoration: underline;
}

.is-underlined-link {

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.is-paddingless-horizontal {
  padding-right: 0;
  padding-left: 0;
}

.is-circle {
  border-radius: 50%;
}

.has-shadow {
  box-shadow: 0 2px 3px rgba(0, 23, 31, 0.1), 0 0 0 1px rgba(0, 23, 31, 0.1);
}

.has-border-bottom {
  border-bottom: rgba(0, 23, 31, 0.1) solid 1px;
}

.cursor-pointer {
  cursor: pointer;
}

// layout
.wrapper {
  display: flex;
  min-height: 100vh;
}

.main-container {
  flex: 1 1 0;
  padding-bottom: 48px;
}

.home-image {
  width: 100%;
  height: calc(100vh - 64px);
  padding: 5vh 10vw;
}

.home-title {
  font-size: calc(3vh + 3vw);
}

.home-subtitle {
  font-size: calc(2vh + 2vw);
}

.main-container>section {
  flex: 1 1 0;
  width: 100%;
}

.profile {
  padding: 24px 12px;
}

.profile-image {
  border: 3px solid $primary;
  width: 128px;
  height: 128px;
  margin-bottom: 16px;
  box-sizing: content-box
}

.nav-container {
  z-index: 10;
}

.nav-bar {
  height: 64px;
}

.logo-image {
  width: 48px;
  height: 48px;
  margin-left: 16px;
}

.logo {
  width: 32px;
  height: 32px;
  margin-right: 4px;
}

.contact-container {
  padding: 24px;
}

.contact {
  margin: 0 8px;
  width: 24px;
  height: 24px;
  fill: #7a7a7a;

  &:hover,
  &:focus {
    fill: $primary
  }
}

.navbar-burger {
  height: 4rem;
  margin-left: 12px;
  color: $primary !important;

  &:focus {
    background-color: #000406;
  }
}

.nav-menu {
  padding: 12px 12px 24px 12px;
}

.menu-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  fill: #fff;
}

.featured-title-container {
  position: sticky;
  top: 64px;
  padding: 16px;
  z-index: 1;
}

.featured-title {
  margin-right: 12px;
}

.fixed-right-button {
  position: fixed;
  right: 0;
  top: 64px;
  z-index: 1;
  border-radius: 0;
  border-bottom-left-radius: 4px;
}

.secondary-title {
  padding: 12px;
}

.is-featured {
  background-color: rgba($primary, 0.15)
}

.techno-icon {
  width: 48px;
  height: 48px;
  margin-bottom: 4px
}

.techno-icon-container {
  margin: 4px;
}

.techno-container {
  width: fit-content
}

.divider {
  background-color: #b5b5b5;
  height: 1px;
  width: 100%;
}

.form-icon {
  width: 24px;
  height: 24px;
  fill: #dbdbdb;
}

.nested-comments {
  position: relative;
  margin: 24px 0 0 32px;

  .comment:not(:first-child) {
    margin-top: 24px;
  }

  &::before {
    content: '';
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 22px solid whitesmoke;
    position: absolute;
    top: -22px;
    left: 8px;
    z-index: 2;
  }
}

div.arrow-up {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 24px solid #dbdbdb;
  position: absolute;
  top: -24px;
  left: 8px;
}

.box.nested-comments {
  padding: 16px;
}

.comment {
  .media {
    margin-bottom: 16px;
  }
}

.comment-text {
  margin-left: 16px;
}

@media only screen and (min-width: 1024px) {
  .main-container {
    padding-left: 280px;
  }

  .home-image {
    height: 100vh
  }

  .featured-title {
    margin-right: 48px;
  }

  .sidebar {
    width: 280px;
    height: 100vh;
    position: fixed;
    top: 0;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .sidebar::-webkit-scrollbar {
    display: none;
  }

  .featured-title-container {
    top: 0;
    padding: 24px;
  }

  .fixed-right-button {
    top: 0;
  }

  .techno-icon {
    width: 96px;
    height: 96px;
    margin-bottom: 8px
  }

  .techno-icon-container {
    margin: 8px;
  }
}

@media only screen and (min-width: 769px) {
  .home-image {
    padding: 10vh 10vw;
  }

  .featured-title {
    margin-right: 32px;
  }

  .techno-icon {
    width: 64px;
    height: 64px;
    margin-bottom: 6px
  }

  .techno-icon-container {
    margin: 6px;
  }
}

@media only screen and (max-width: 1023px) {
  .wrapper {
    flex-direction: column;
  }

  .main-container {
    padding-top: 64px
  }

  .nav-container {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .nav-bar {
    /* border-bottom: grey solid 1px; */
    box-shadow: 0 2px 0 0 #363636;
  }

  .nav-menu {
    /* border-bottom: grey solid 1px; */
    box-shadow: 0 2px 0 0 #363636;
  }
}

@media only screen and (min-width: 500px) {
  .techno-list {
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    max-height: 200px;
  }
}

@media only screen and (max-width: 499px) {
  .home-image {
    padding: 5vh 5vw;
  }

  .box.comment {
    padding: 8px;
  }

  .box.nested-comments {
    padding: 8px;
  }

  .blog-card-header {
    display: flex;
    flex-direction: column;
  }
}